.a-button {
	text-decoration: none;
	color: black;
	padding: 0.5rem;
	border: 5px black solid;
	background-color: aqua;
	border-radius: 8px;
	&:hover {
		background-color: cadetblue;
	}
}

h1 {
	display: flex;
	font-size: 50px;
	padding-top: 3rem;
	justify-content: center;
}